/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/assets/images
/public/social-media/assets/images/
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.zip
*.rar
*.jpg
*.png
*.svg
/.env2
all_team.blade.php
all_blogs.blade.php
blog.blade.php
s1Left.blade.php
s1Right.blade.php
about_section.blade.php
s3Left.blade.php
s3Right.blade.php
service.blade.php
faq.blade.php
team.blade.php
testimonial.blade.php
all_service.blade.php
